<html>
<head>
	<title> A chatbot that reverses what a user typed in and returns back </title>
</head>
<body>
    <div class ="title"> 
	<h1> A chatbot that reverses what a user typed in and returns back </h1> 
	</div>
	<h3>ChatBot that reverses a string. Uses WebSocket & HTML 5 on the client side and Node JS, Websockets on the server side. </h3>
	<h3> The javascript of the application is unit tested using Jasmine framework. </h3>
	<img type="image" src="../images/about.png" </input>
	<h3> Note: Application works best on Chrome browser. </h3>
</body>
</html>